.topnav {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
 .topnav button {
    float: left;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}
.topnav button:hover {
    background-color: #ddd;
    color: black;
}
main {
    border: 1px solid black;
    height: 100vh;
    background: url("https://images.pexels.com/photos/2171277/pexels-photo-2171277.jpeg?auto=compress&cs=tinysrgb&dpr=1&") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    text-decoration: underline overline;
    font-size: 275%;
    text-align: center;
    margin-top: 75px;
    
}
.text {
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    
}
.shows {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: beige;
    color: purple
}
.upcoming {
    text-decoration: underline overline;
    font-size: 200%;
    margin-top: 50px;
}
ul {
    margin: 20px;
}
li {
    font-size: 150%;
    margin: 20px;
}
summary {
    height: 75vh;
    text-align: center;
    margin: 50px;
    font-size: 150%;
    padding: 20px;
    background-color: beige;
    color: purple;
}
iframe {
    height: 500px;
    width: 800px;
    margin-top: 100px;
   
}



